Flask==3.0.3
TTS==0.22.0  # Or try latest: pip install TTS --upgrade locally first to get version
flask-cors==4.0.1
gunicorn==22.0.0
torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
pytz==2025.1
trainer>=0.0.31  # Fallback if TTS fails to pull it
